/* ESTUFA DE VARIÁVEIS CÓSMICAS */
:root {
    --cyan-neon: #00f3ff;
    --cyan-glow: rgba(0, 243, 255, 0.4);
    --deep-navy: #0a0b1a;
    --deep-purple: #1a0b2e;
    --orange-nebula: #ff6a00;
    --yellow-star: #00f3ff;
    --dark-gray: #1a1a1a;
    --border-gray: #333333;
    --light-gray: #b0b0b0;
    --pixel-font: 'VT323', monospace;
    --hud-font: 'Press Start 2P', monospace;
    --text-font: 'Roboto Mono', monospace;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes spaceScroll {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -1000px 1000px;
    }
}

body {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='200' height='200' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 10 h2 v2 h-2 z M150 30 h1 v1 h-1 z M70 120 h2 v2 h-2 z M180 180 h1 v1 h-1 z M40 180 h1 v1 h-1 z' fill='%23ffffff' fill-opacity='0.2'/%3E%3C/svg%3E");
    background-size: 400px 400px;
    color: #ffffff;
    height: 100vh;
    overflow: hidden;
    font-family: var(--pixel-font);
    animation: spaceScroll 90s linear infinite;
}

/* CONTAINER PRINCIPAL: 2 COLUNAS */
#root {
    display: grid;
    grid-template-columns: 460px 1fr;
    width: 100vw;
    height: 100vh;
    padding: 40px;
    gap: 40px;
    position: relative;
}