.chaos-section {
    position: relative;
    display: flex;
    flex-direction: column;
}

.chaos-header {
    text-align: right;
}

.chaos-space {
    flex: 1;
    position: relative;
}

.orbit-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px dotted rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.05), inset 0 0 10px rgba(255, 255, 255, 0.05);
}

.orbit-1 {
    width: 400px;
    height: 400px;
    animation: spin 40s linear infinite;
}

.orbit-2 {
    width: 600px;
    height: 600px;
    animation: spin 60s linear infinite reverse;
}

@keyframes spin {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes spin-vinyl {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}